<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWeatherService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://azurewcf.cloudapp.net/WeatherService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWeatherService"
                contract="WeatherServiceReference.IWeatherService" name="BasicHttpBinding_IWeatherService" />
        </client>
    </system.serviceModel>
</configuration>